<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="">

    <!--<Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss } %-5p [%t] %c (%l) - %m%n"/>
        </Console>
        <File name="TEMP" fileName="h://a.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss } %-5p [%t] %c (%l) - %m%n"/>
        </File>
        <Async name="ASYNC">
            <AppenderRef ref="TEMP"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>-->

    <Properties>
        <Property name="source">api-web</Property>
        <Property name="log-pattern">%m%n
            <!--
                    <Property name="log-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{userId}] [%t] [%-5level] %c{1.}@%M%L - %m%n
            -->
        </Property>
        <!--get product dynamic property-->
    </Properties>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>${log-pattern}</pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFile" filePattern="logs/videoplay-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout>
                <Pattern>${log-pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 * * * ?"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DirectWriteRolloverStrategy maxFiles="10"/>
        </RollingFile>

        <!--<Flume name="eventLogger" compress="false" type="avro" ignoreExceptions="false">
            <Agent host="192.168.100.26" port="41414"/>
            <PatternLayout>
                <pattern>
                    <pattern>${log-pattern}</pattern>
                </pattern>
            </PatternLayout>
        </Flume>-->
        <Async name="ASYNC">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="RollingFile"/>
        </Async>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>


</Configuration>